---
import { Image } from "astro:assets";

interface Props {
    lang: string;
    title: string;
    description: string;
    cover: string;
    slug: string;
    buttonLabel: string;
    icon: string[]; // ✅ Arreglo de strings
}

const { lang, title, description, cover, slug, buttonLabel, icon } =
    Astro.props;

console.log("💻🔥 18, ProjectCard.astro: ", icon);
---

<a
    href={`/${lang}/projects/${slug}`}
    data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000"
    class="group block rounded-xl overflow-hidden shadow-lg bg-[var(--color-surface)] hover:theme-hover transition-all duration-300"
>
    <Image
        src={`/src/assets/images/${cover}`}
        alt={title}
        class="w-full h-64 object-cover object-center group-hover:scale-105 transition-transform duration-300"
        loading="lazy"
        width={400}
        height={500}
    />

    <div class="p-12">
        <h3
            class="text-2xl font-semibold theme-text mb-2 group-hover:text-[var(--color-secondary-500)] transition-colors"
        >
            {title}
        </h3>

        <p class="text-xl opacity-80 mb-4 line-clamp-4">{description}</p>
    </div>

    <div class="h-20 bg-black/80 flex justify-center gap-6 items-center px-10">
        {
            icon &&
                icon.length > 0 &&
                icon.map((iconName) => (
                    <Image
                        src={`/src/assets/icons/${iconName}.svg`}
                        alt={iconName}
                        class="h-10 w-10"
                        loading="lazy"
                        width={40}
                        height={40}
                    />
                ))
        }
    </div>
</a>
