---
import { getCollection } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";
import type { CollectionEntry } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const lang = Astro.props.lang;
const projects = (await getCollection("projects")).filter(
    (p: CollectionEntry<"projects">) => p.data.lang === lang
);
---

<div
    data-aos="fade-left"
    data-aos-duration="3000"
    class="custom-card py-11 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-3 3xl:grid-cols-4 gap-10"
>
    {
        projects.map((project) => (
            <ProjectCard
                icon={project.data.icon}
                lang={lang}
                slug={project.data.slug}
                title={project.data.title}
                description={project.data.description}
                cover={project.data.cover}
                buttonLabel={project.data.nameButton ?? "Ver más"}
            />
        ))
    }
</div>
